/* ProductCard.css */

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #f6f6f6;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(255, 223, 186, 0.5);
    background-color: #f6f6f6;
}

.card-img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #532e1c;
    font-family: "Times New Roman", serif;
    text-align: center;
    text-decoration: underline;
}

.card-text {
    font-size: 14px;
    color: #3a3a3a;
    font-family: "Times New Roman", serif;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #ff5555;
}